body {
    background: url(https://giffiles.alphacoders.com/209/209570.gif);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
  
    /** permet de centrer les éléments dans la page **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /** l'image fait toujours la même hauteur **/
  img{
    margin: 40px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    height: 40vh;
    width: auto;
  }
  /** les titres ne sont pas trop grands **/
  h1,h2{
    max-width: 800px;
    line-height: 1.5;
  }
  
  
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  
  

/** boutons **/

.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}

.signature{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top:0px;
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
  right: 20px;
  background-color: #000000;
  width: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}


.signature a{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
}

/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

/** faire clignotter le sous titre **/ 
h2 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** une animation de très bon goût **/
.yeah{
  animation: yeah 2s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}